{$APP_DOMAIN} {
    encode gzip
    header /openapi.json Cache-Control "no-store"
    reverse_proxy /openapi.json backend:8000
    reverse_proxy /api/* backend:8000
    reverse_proxy /health backend:8000
    reverse_proxy /* frontend:5173
}

{$IDP_DOMAIN} {
    encode gzip
    reverse_proxy keycloak:8080
}
